* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/PretendardVariable.ttf') format('truetype');
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    background: #121814;
    padding: 80px;
    font-family: 'Pretendard', sans-serif;
}

.footer-top {
    .footer-top {
        flex-direction: column; /* Элементы футера в колонку */
        gap: 40px; /* Уменьшаем гигантский разрыв 120px */
        padding: 40px 20px;
    }
}

.footer-logo img {
    height: 80px;
    width: auto;
    display: block;
}

.footer-nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-nav p {
    margin: 0 0 28px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-nav li {
    padding: 0;
}

.footer-nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.language-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}

.language-container p {
    flex: 0 0 100%;
    margin: 0 0 28px;
    font-size: 20px;
    font-weight: 700;
    gap: 12px;
    color: #FFFFFF;
}

.language-container .lang-btn {
    background: none;
    border: none;
    padding-right: 0; /* Убираем фиксированный padding */
    margin-right: 10px;
    cursor: pointer;
}

.language-container img {
    height: 26px;
    width: auto;
    display: block;
}

.footer-bottom {
    margin-top: 56px;
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid #3B3B3B;
    margin: 0 0 24px;
    width: 100%;
}

.copyright p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #727272;

}