* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../assets/fonts/PretendardVariable.ttf') format('truetype');
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    padding: 28px 80px;
}

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: inline-flex;
    height: 60px;
}

.header-logo img {
    height: 60px;
    width: auto;
}

.nav {
    padding: 20px 60px;
    background-color: #FFFFFF60;
    border-radius: 20px;
    display: inline-flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.nav ul {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.language-container img {
    height: 24px;
    width: auto;
}

.lang-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.en,
.tj {
    margin-right: 24px;
}