server:
  port: 8080

spring:
  config:
    import: 
      - classpath:/yaml/application-keys.yaml

  main:
    allow-bean-definition-overriding: true

  jpa:
    open-in-view: false
    show-sql: true           
    hibernate:
      ddl-auto: update       
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        jdbc:
          time_zone: Asia/Seoul
          
deepl:
  base-url: https://api-free.deepl.com
  api-key: ${deepl.api-key}